/*base*/
body
  margin: 0
  font-family: font1
  background-image: url("../assets/images/linedpaper.png")
  background-repeat: repeat

for title in 2 1
  h{title}
    font-weight: bold;
    font-size: 40px - 20 * (title - 1)
p
  font-size: 14px;
a
  color: black;
  text-decoration: none
li
  list-style: none;
footer
  height: 80px;
  background-color: thirdyColor;
  color: fontSecondaryColor;
  width:100%;
