mobileWidth = 425px
mobilePotraitWidth = 636px
tabletWidth = 748px
tabletPotraitWidth = 840px
deskWidth = 1023px

mqMobile = "only screen and (max-width: " + mobileWidth + ")"
mqTablet     = "only screen and (max-width: " + tabletWidth + ")"
mqDesk     = "only screen and (max-width: " + deskWidth + ")"
mqTabletPotrait = "only screen and (max-width: " + tabletPotraitWidth + ")"
mqMobilePotrait = "only screen and (max-width: " + mobilePotraitWidth + ")"
