font1 = 'Montserrat', sans-serif;
font2 = 'Baloo 2'
  /*colores*/
fontPrimaryColor= black
fontSecondaryColor= white

title(font, size)
  if font = 'Baloo'
    text-transform: uppercase;
    font-weight: bold;
    font-size: size
  else if font = 'Montserrat'
    text-transform: uppercase;
    font-weight: bold;
    font-size: size

textContent()
  font-size: 16px
  font-family: font1
