/* Footer Section */
.footer
  &_back2home
    display: none
    @media mqMobile
      display: block;
      text-align: center;
      padding: 1em 0;
    a
      color: primaryColor

  &_container
    max-width: 1024px;
    height: inherit;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    center()
    align-items: center;
    img
      @media mqMobile
        width: 2em;
    @media mqTablet
      grid-template: "redes" "copyright" "privacy"
    @media mqMobile
      height: 120px;
  &_section-right
    text-align: right
    &div:last-child
      margin-left: 1em;
    @media mqTablet
      display:flex
      justify-content: space-evenly
      grid-area: privacy;

  &_section-center
    display: flex
    width: 250px
    align-items: center
    justify-self: center
    justify-content: space-between
    @media mqTablet
      width: 50%;
      grid-area: redes;
      grid-template: 1fr;

  &_section-left
    &div:last-child
      margin-left: 1em;
    @media mqTablet
      display: flex;
      justify-content: space-evenly;
      grid-area: copyright;



  @media mqTablet
    height: 120px;
  @media mqMobile
    height: 190px;
