.footer
  &_back2home
    display: none
  &_container
    max-width: 1024px;
    height: inherit;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 0 auto;
    align-items: center;
  &_section-right
    text-align: right
  &_section-center
    display: flex
    width: 250px
    align-items: center
    justify-self: center
    justify-content: space-between
