.header
  display: flex
  background-color: primaryColor
  font-weight: 700;
  color: fontPrimaryColor
  align-items: center
  height: 100px
  position: fixed;
  width: 100vw
  z-index: 3
  &_logo img
    width: 200px
    center()
  &_container
    display: inherit;
    center()
    padding: 0 20px;
    max-width: 1024px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 6px 0px lightgrey;
