.portfolio
  center()
  padding-top: 150px;
  &_title
    max-width: 1024px;
    center()
  &_container
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, minmax(100px,auto));
  &_image
    img
      width: 100%
